<mat-card>
    <mat-card-header> {{ heroe.superhero }}</mat-card-header>
    <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
    <img mat-card-image [src]="heroe | image" alt="">
    <mat-card-content>
        <h3>{{ heroe.publisher }}</h3>
        <p>
            <strong>First apparition</strong> {{heroe.first_appearance}}
            <br>
            <strong>Characters: </strong> {{ heroe.characters }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn" [routerLink]="['/heroes', heroe.id]">More read...</button>
        <button mat-button color="info" [routerLink]="['/heroes/edit', heroe.id]">Edit</button>
    </mat-card-actions>
</mat-card>