<h1>Listado de heroes</h1>
<mat-divider></mat-divider>
<br>

<div class="container-flex">
    <div class="container-card">
        <mat-card *ngFor="let heroe of heroes">
            <mat-card-header> {{ heroe.superhero }}</mat-card-header>
            <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
            <img mat-card-image src="assets/heroes/{{ heroe.id }}.jpg" alt="">
            <mat-card-content>
                <h3>{{ heroe.publisher }}</h3>
                <p>
                    <strong>First apparition</strong> {{heroe.first_appearance}}
                    <br>
                    <strong>Characters: </strong> {{ heroe.characters }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="warn">More read...</button>
                <button mat-button color="info">More read...</button>
            </mat-card-actions>
        </mat-card>
    </div> 
</div>
