<div class="column-flex">
    <div>
        <h1>Bucador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div class="column-flex">
        <h3>Buscador</h3>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>term</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     [(ngModel)] ="term"
                     [matAutocomplete]="auto" 
                     (input)="searching()">
              <mat-autocomplete autoActiveFirstOption 
                                #auto="matAutocomplete"
                                (optionSelected)="optionSelected( $event )"
                                >
                <mat-option *ngFor="let hero of heros " [value]="hero">
                  {{hero.superhero}}
                </mat-option>
                <mat-option value="" *ngIf="heros.length === 0 && term.trim().length > 0">
                    Not found {{ term }}
                </mat-option>

              </mat-autocomplete>
            </mat-form-field>
    </div>

    <div *ngIf="heroSelected" class="card-heore"> 
        <app-card-heroe [hero]="heroSelected"></app-card-heroe>
    </div>
</div>
