/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

.container-flex {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 1.2%;
}



.container-card {
    width: 15%;
}

@media (max-width: 1440px)  {
    .container-card {
        width: 30%;
    } 
}

@media (max-width: 768px)  {
    .container-card {
        width: 45%;
    } 
}

@media (max-width: 420px)  {
    .container-card {
        width: 100%;
    }
    .container-flex {
        flex-flow: column;
    }
    
}

